// fonts
$font-family-base: 'Exo', sans-serif;
$font-family-custom: 'Arial', sans-serif;
$font-family-unique: 'Metal Mania', sans-serif;

// font-size
$font-size-default: 16px;
$line-height-base: 1.25;

// font-weight
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-sbold: 600;
$font-weight-bold: 700;

// behavior
$transition-base: all .3s ease 0s;

// main colors
$main-first-color: #B154F0;
$main-second-color: #007d00;
$main-third-color: #000082;

// colors
$title-color: #000;
$text-color: #111;
$input-placeholder-color: #aaa;