/*************************************************
********************* CONTENT ********************
*************************************************/
.content {
  order: 2;
  -webkit-order: 2;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  width: 100%;
  min-width: 320px;
}

.wrapper {
  position: relative;
  width: 100%;
  padding: 0 $font-size-default;
  margin: 0 auto;
  z-index: 1;
}

@import './section-main';
@import './section-showcase';
@import './section-text-info';